@import url("https://fonts.googleapis.com/css2?family=playfairdisplay:wght@100;200;300;400;500;600;700;800;900&display=swap");

@import url
(
  "https://fonts.googleapis.com/css2?family=lato:wght@100;200;300;400;500;600;700;800;900&display=swap"
);

/* mobile sizing*/
@media (min-width: 30em) and (max-width: 60em) {
  html,
  body {
    margin: 0;
    background: #F4EEED;
  }

  nav {
    background: #ddb7ab;
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
  }

  .tagline-mobile {
    font-family: Playfair Display;
    font-size: 24px;
    font-style: italic;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: center;
  }

  .headings-mobile {
    font-family: Playfair Display;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 0em;
  }
  
  .intro {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    gap: 30px;
    max-width: 60em;
  }

  .body-text {
    font-family: Lato;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0em;
    max-width: 300px;
  }
  
  #portfolio {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    max-width: 60em;
  }
  
  #row-one {
    display: flex;
    flex-flow: column wrap;
  }
  
  .square-sizing,
  .peterpan {
    max-width: 391px;
  }
  
  .square-sizing {
    max-height: 391px;
  }
  
  .peterpan {
    max-height: 665px;
  }
  
  .harley {
    display: none;
  }
  
  #program-logos {
    display: flex;
    flex-flow: column wrap;
    column-gap: 270px;
    justify-content: center;
    align-content: center;
    align-items: center;
    max-width: 60em;
  }
  
  #footer {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    max-width: 410px;
    max-height: 400px;
    padding: 1px;
    margin: 0;
  }
  
  .location,
  .mail,
  .phone {
    align-self: center;
    max-width: 100%;
    max-height: 100%;
    padding: 0;
    margin: 0;
  }
}

html,
body {
  background: #F4EEED;
  margin: 0;
}

nav {
  background: #ddb7ab;
  height: 120px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
  align-items: center;
}

#link-logo {
  padding: 10px;
  margin-top: 20px;
  margin-left: 5px;
}

.header-format {
  padding: 10px;
  margin-right: 20px;
}

.tagline-text {
  font-family: Playfair Display;
  font-size: 36px;
  font-style: italic;
  font-weight: 500;
  line-height: 38px;
  letter-spacing: 0em;
  text-align: center;
}

h1 {
  font-family: Playfair Display;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 38px;
  letter-spacing: 0em;
  text-align: center;
}

h2 {
  font-family: Playfair Display;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 38px;
  letter-spacing: 0em;
}

p {
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
}

.customer-header {
  display: flex;
  justify-content: center;
  padding: 10px;
  margin: 0;
}

.intro {
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 91px;
  padding: 33px;
  align-items: center;
}

.about-body {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  margin: 0;
}

.about-me {
  margin: 0;
}

.body-text {
  margin: 0;
  width: 446px;
}

#profile-pic {
  width: 86px;
  height: 160px;
  border-radius: 36px;
  margin-top: 33px;
  margin-bottom: 33px;
  margin-left: 70px;
  margin-right: 70px;
  grid-column: 1 / span 2;
  grid-row: 1 / span 2;
}

#circles {
  grid-column: 1 / span 2;
  grid-row: 1 / span 2;
}

.circle-icon {
  display: grid;
  grid-template-columns: 226px;
  grid-template-rows: 226px;
}

#portfolio {
  background: #efd9d1;
}

#header-projects-layout {
  display: flex;
  flex-direction: column;
  column-gap: 30px;
  justify-content: center;
  padding: 10px;
}

#row-one {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.row-one {
  margin-top: 23px;
  margin-bottom: 10px;
}

.square-sizing {
  height: 439px;
  width: 440px;
}

.peterpan {
  height: 527px;
  width: 312px;
}

.harley {
  height: 499px;
  width: 1224px;
}

.harley-format {
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding: 20px;
  margin-bottom: 5px;
}

.program-label {
  display: flex;
  justify-content: center;
}

#program-logos {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 0;
}

.program-layout {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 40px 10px;
  margin: 0;
  margin-bottom: 30px;
}

.program-logos {
  height: 114px;
  margin: 0;
}

.program-descriptions {
  font-family: Playfair Display;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0em;
  text-align: left;
  width: 114px;
  margin: 0;
}

.program-titles {
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 800;
  line-height: 18px;
  letter-spacing: 0em;
}

#footer-bg {
  background: #ddb7ab;
  padding: 10px;
  margin: 0;
}

#footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 150px;
  row-gap: 50px;
  margin: 0;
}

.footer-layout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 5px;
}

.footer-label {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 3px;
}

.footer-contact {
  font-family: Lato;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0em;
  text-align: center;
}

.row-one,
.harley-format {
  transition: all 0.2s ease-in-out;
}

.row-one:hover,
.harley-format:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.illustrator-text,
.photoshop-text,
.indesign-text,
.figma-text,
.codepen-text {
  transition: all 0.2s ease-in-out;
}

.illustrator-text:hover,
.photoshop-text:hover,
.indesign-text:hover,
.figma-text:hover,
.codepen-text:hover {
  transform: scale(2);
  cursor: pointer;
}

.footer-contact {
  transition: all 0.2s ease-in-out;
}

.footer-contact:hover {
  transform: scale(2.2);
  cursor: pointer;
}