@import url("https://fonts.googleapis.com/css2?family=playfairdisplay:wght@100;200;300;400;500;600;700;800;900&display=swap");

@import url
(
  "https://fonts.googleapis.com/css2?family=lato:wght@100;200;300;400;500;600;700;800;900&display=swap"
);

html,
body {
  background: #F4EEED;
  margin: 0;
}

  nav {
    background: #ddb7ab;
    height: 120px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    align-items: center;
  }

  #link-logo {
    padding: 10px;
    margin-top: 20px;
    margin-left: 5px;
  }

.header-format {
  padding: 10px;
  margin-right: 20px;
}

  .tagline-text {
    font-family: Playfair Display;
    font-size: 36px;
    font-style: italic;
    font-weight: 500;
    line-height: 38px;
    letter-spacing: 0em;
    text-align: center;
  }

  h1 {
    font-family: Playfair Display;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: 0em;
    text-align: center;
  }

  h2 {
    font-family: Playfair Display;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: 0em;
  }

p {
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
}

  .customer-header {
    display: flex;
    justify-content: center;
    padding: 10px;
    margin: 0;
  }

  #intro {
    display: grid;
    grid-template-columns: 479px 226px;
    grid-template-rows: 53px 110px;
    column-gap: 91px;
    row-gap: 12px;
    justify-content: center;
    padding: 33px;
  }

  .about-me {
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
  }

  .body-text {
    grid-column: 1 / span 2;
    grid-row: 2 / span 3;
  }

  #profile-pic {
    width: 86px;
    height: 160px;
    border-radius: 36px;
    margin-top: 33px;
    margin-bottom: 33px;
    margin-left: 70px;
    margin-right: 70px;
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
  }

  #circles {
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
  }

  .circle-icon {
    display: grid;
    grid-template-columns: 226px;
    grid-template-rows: 226px;
    grid-column: 2 / span 3;
    grid-row: 1 / span 3;
  }

#portfolio {
  background: #efd9d1;
}

  #header-projects-layout {
    display: flex;
    flex-direction: column;
    column-gap: 30px;
    justify-content: center;
  padding: 10px;
  }

#row-one {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.row-one {
  margin-top: 23px;
  margin-bottom: 10px;
}

.square-sizing {
  height: 439px;
width: 440px;
}

.peterpan {
  height: 527px;
width: 312px;

}

.harley {
  height: 499px;
width: 1224px;
}

  .harley-format {
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding: 20px;
    margin-bottom: 5px;
  }

  .program-label {
    display: flex;
    justify-content: center;
  }

#program-logos {
  display: grid;
  grid-template-columns: 120px 120px 120px 120px 120px;
  grid-template-rows: 114px 22px;
  column-gap: 95px;
  row-gap: 25px;
  place-items: center;
  place-content: center;
  margin: 0;
}

.program-logos {
  height: 114px;
  margin: 0;
}

.program-descriptions {
  font-family: Lato;
  font-size: 8px;
  font-style: normal;
  font-weight: 400;
  line-height: 10px;
  letter-spacing: 0em;
  text-align: left;
  height: 20px;
  width: 114px;
}

 .program-titles {
  font-family: Lato;
  font-size: 8px;
  font-style: normal;
  font-weight: 700;
  line-height: 10px;
  letter-spacing: 0em;
  text-align: left;
}

  .illustrator {
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
  }

  .photoshop {
    grid-column: 5 / span 6;
    grid-row: 1 / span 2;
  }

  .indesign {
    grid-column: 3 / span 4;
    grid-row: 1 / span 2;
  }

  .figma {
    grid-column: 2 / span 3;
    grid-row: 1 / span 2;
  }

  .codepen {
    grid-column: 4 / span 5;
    grid-row: 1 / span 2;
  }

  .illustrator-text {
    grid-column: 1 / span 2;
    grid-row: 2 / span 3;
  }

  .photoshop-text {
    grid-column: 5 / span 6;
    grid-row: 2 / span 3;
  }

  .indesign-text {
    grid-column: 3 / span 4;
    grid-row: 2 / span 3;
  }

  .figma-text {
    grid-column: 2 / span 3;
    grid-row: 2 / span 3;
  }

  .codepen-text {
    grid-column: 4 / span 5;
    grid-row: 2 / span 3;
  }

#footer-bg {
  background: #ddb7ab;
  padding: 10px;
  margin: 0;
}

#footer {
  display: grid;
  grid-template-columns: 140px 185px 85px;
  grid-template-rows: 55px 20px;
  gap: 10px 150px;
  place-content: center;
  place-items: center;
  margin: 0;
}

.footer-label {
  display: flex;
  justify-content: center;
  margin: 0;
}

.location-icon {
  grid-column: 1 / span 2;
  grid-row: 1 / span 2;
}

.mail-icon {
  grid-column: 2 / span 3;
  grid-row: 1 / span 2;
}

.phone-icon {
  grid-column: 3 / span 4;
  grid-row: 1 / span 2;
}

.footer-contact {
  font-family: Lato;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0em;
  text-align: center;
}

.location-text {
  grid-column: 1 / span 2;
  grid-row: 2 / span 3;
}

.email-text {
  grid-column: 2 / span 3;
  grid-row: 2 / span 3;
}

.phone-text {
  grid-column: 3 / span 4;
  grid-row: 2 / span 3;
}

.row-one,
.harley-format {
  transition: all 0.2s ease-in-out;
}

.row-one:hover,
.harley-format:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.illustrator-text,
.photoshop-text,
.indesign-text,
.figma-text,
.codepen-text {
  transition: all 0.2s ease-in-out;
}

.illustrator-text:hover,
.photoshop-text:hover,
.indesign-text:hover,
.figma-text:hover,
.codepen-text:hover {
  transform: scale(2);
  cursor: pointer;
}

.location-text,
.email-text,
.phone-text {
  transition: all 0.2s ease-in-out;
}

.location-text:hover,
.email-text:hover,
.phone-text:hover {
  transform: scale(2.2);
  cursor: pointer;
}
